<h1>Browse Scooters</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Brand</th>
      <th>Price</th>
      <th>Description</th>
      <th>Sold</th>
      <th>In built lighting</th>
      <th>Double motor</th>
      <th>Pneumatic tires</th>
      <th>Has suspension</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.brand %></td>
        <td><%= listing.price %></td>
        <td><%= listing.description %></td>
        <td><%= listing.sold %></td>
        <td><%= listing.in_built_lighting %></td>
        <td><%= listing.double_motor %></td>
        <td><%= listing.pneumatic_tires %></td>
        <td><%= listing.has_suspension %></td>
        <td><%= listing.user_id %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class='container-fluid d-flex'>
<% @listings.each do |listing| %>
    <div class="card mx-2" style="width: 18rem;">
    <%= image_tag listing.picture %>
    <div class="card-body">
      <h5 class="card-title"><%=listing.title%></h5>
      <p class="card-text"><%=listing.description%></p>
      <%= link_to number_to_currency(listing.price), listing, class: "btn btn-primary"%>
    </div>
    </div>
<% end %>
</div>

<br>

<%= link_to 'New Listing', new_listing_path %>
