<h1>Browse Scooters</h1>

<div class='container-fluid d-flex flex-wrap'>
<% @listings.each do |listing| %>
    <div class="card mx-2" style="width: 16rem;">
    <%= image_tag listing.picture %>
    <div class="card-body">
      <h5 class="card-title"><%=listing.title%></h5>
      <p class="card-text"><%=listing.description%></p>
      <%= link_to number_to_currency(listing.price), listing, class: "btn btn-primary"%>
    </div>
    </div>
<% end %>
</div>

<br>

<%= link_to 'New Listing', new_listing_path %>
