<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<% if @listing.picture.attached?%>
<%= image_tag @listing.picture, alt: @listing.title  %>
<% else %>
<%= image_tag "https://scooterbay-public-images.s3.ap-southeast-2.amazonaws.com/default_scooter.jpeg" %>
<% end %>

<p class="mt-2">
  Price:
  <strong>
  <%= number_to_currency(@listing.price) %>
  </strong>
</p>


<% if current_user && current_user == @listing.user %>
  <%= link_to "View my listings", user_path(current_user), class: 'btn btn-primary mb-2' %>
<% elsif !@listing.sold? %>
<%= button_to "Buy Now", place_order_path, class: 'btn btn-primary mb-2' %>
<%= button_to "Make offer", place_offer_path, class: 'btn btn-primary mb-2' %>
<% else %>
<p><strong>Item Sold</strong></p>
<% end %>


<p>
  <strong>Brand:</strong>
  <%= @listing.brand %>
</p>


<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>In built lighting:</strong>
  <span><%= @listing.in_built_lighting ? "✅" : "❌" %></span>
</p>

<p>
  <strong>Double motor:</strong>
  <span><%= @listing.double_motor ? "✅" : "❌" %></span>
</p>

<p>
  <strong>Pneumatic tires:</strong>
  <span><%= @listing.pneumatic_tires ? "✅" : "❌" %></span>
</p>

<p>
  <strong>Has suspension:</strong>
  <span><%= @listing.has_suspension ? "✅" : "❌" %></span>
</p>

<% if current_user && current_user == @listing.user || current_user.admin? %>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Delete', @listing, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', listings_path %>
