<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<% if @listing.picture.attached?%>
<%= image_tag @listing.picture, alt: @listing.title  %>
<% else %>
<%= image_tag "default_scooter" %>
<% end %>

<p>
  <strong>Brand:</strong>
  <%= @listing.brand %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>In built lighting:</strong>
  <span><%= @listing.in_built_lighting ? "✅" : "❌" %></span>
</p>

<p>
  <strong>Double motor:</strong>
  <span><%= @listing.double_motor ? "✅" : "❌" %></span>
</p>

<p>
  <strong>Pneumatic tires:</strong>
  <span><%= @listing.pneumatic_tires ? "✅" : "❌" %></span>
</p>

<p>
  <strong>Has suspension:</strong>
  <span><%= @listing.has_suspension ? "✅" : "❌" %></span>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
