<p>
  <strong>Model:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category.name %>
</p>

<% if @listing.picture.attached?%>
<%= image_tag @listing.picture, alt: @listing.title  %>
<% else %>
<%= image_tag "https://scooterbay-public-images.s3.ap-southeast-2.amazonaws.com/default_scooter.jpeg" %>
<% end %>
<% if user_signed_in? && @listing.address%>
  <p>Location: <%= format_address(@listing.address)%></p>
<% elsif !user_signed_in? && @listing.address%>
  <p>Location: Please <%=link_to "log in", new_user_session_path %> to view location</p>
<% end %>

<p class="mt-2">
  Price:
  <strong>
  <%= number_to_currency(@listing.price) %>
  </strong>
</p>


<% if current_user && current_user == @listing.user || current_user && current_user.admin? %>
<%= link_to 'Edit Listing', edit_listing_path(@listing), class: 'btn btn-secondary' %>
    <% if !@listing.address %>
    <%= button_to "Add address for listing", specify_address_path, class: 'btn btn-outline-secondary' %>
    <% else %>
    <%= link_to "Edit address", edit_address_path(@listing.address), class: 'btn btn-outline-secondary' %>
    <% end %>
<%= link_to 'Delete Listing', @listing, class: 'btn btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<% if current_user && @listing.user != current_user %>
  <% if item_watched? %>
  <%= button_to "Unwatch item", watched_item_url, method: :delete, class: "btn btn-primary"%>
  <% else %>
  <%= button_to "Watch item", watch_item_path, class: 'btn btn-secondary mb-2' %>
  <% end %>

  <% if !user_made_offer? %>
  <%= button_to "Make offer", place_offer_path, class: 'btn btn-primary mb-2' %>
  <% else %>
  <%= link_to "View Offer", offer_path(@offer), class: 'btn btn-primary mb-2' %>
  <% end %>
<% end %>

<% if !current_user %>
  <%= button_to "Make offer", place_offer_path, class: 'btn btn-primary mb-2' %>
  <%= button_to "Watch item", watch_item_path, class: 'btn btn-secondary mb-2' %>
<% end %>

<div class="container my-4">
<h3>Specifications</h3>
<p>
  <strong>Brand:</strong>
  <%= @listing.brand %>
</p>


<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>In built lighting:</strong>
  <span><%= @listing.in_built_lighting ? "✅" : "❌" %></span>
</p>

<p>
  <strong>Double motor:</strong>
  <span><%= @listing.double_motor ? "✅" : "❌" %></span>
</p>

<p>
  <strong>Pneumatic tires:</strong>
  <span><%= @listing.pneumatic_tires ? "✅" : "❌" %></span>
</p>

<p>
  <strong>Has suspension:</strong>
  <span><%= @listing.has_suspension ? "✅" : "❌" %></span>
</p>
</div>

<% if current_user && current_user == @listing.user %>
    <%= link_to "View my listings", user_path(current_user), class: 'btn btn-primary mb-2' %>
<% end %>

<% unless @listing.user == current_user %>
<h2>Merchant Details</h2>
  <% if @listing.user.avatar.attached? %>
  <%= image_tag @listing.user.avatar, class: 'avatar'%>
  <% else %>
  <%= image_tag "https://scooterbay-public-images.s3.ap-southeast-2.amazonaws.com/default-avatar.jpeg", class: 'avatar'%>
  <% end %>
<h3><%= @listing.user.first_name %> </h3>
<h5>Contact</h5>
<p>Email: <%= @listing.user.email %> </p>
  <% if @listing.user.mobile? %>
<p>Mobile: <%= @listing.user.mobile %> </p>
  <% end %>
<% else %>
  <% if @listing.offers.count > 0 %>
  <h2 class='py-3'>Offers received</h2>
  <div class='container-fluid d-flex flex-wrap'>
  <% @listing.offers.each do |offer| %>
      <div class="card mx-2 my-2" style="width: 16rem;">
      <div class="card-body">
        <h5 class="card-title">From <%=offer.offerer.first_name%></h5>
        <p class="card-subtitle text-muted"><%= link_to offer.offerer.username, offer.offerer%></p>
        <p class="card-text"><%=offer.message%></p>
        <h6 class="card-text">Price offered:<%=offer.price%></h6>
        <%= link_to "View Offer", offer, class: "btn btn-primary my-1"%>
      </div>
      </div>
      <% end %>
  </div>
  <% else %>
  <h2 class='py-3'>This listing hasn't received any offers yet.</h2>
  <% end %>
<% end %>