<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="form-group">
    <% if user.avatar.attached? %>
      <%= image_tag user.avatar, class: 'avatar'%>
      <div>
      <%= link_to "#" do %>
        Replace Current Image
      <% end %>
      <span>|</span>
      <%= link_to "Remove Image",
                  delete_image_user_path(image_id: user.avatar.id),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }
      %>
      </div>
    <% else %>
      <div>put default avatar here</div>
    <% end %>
  </div>

  <div>
    <%= form.label :avatar%>
    <%= form.file_field :avatar %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary'%>
    <%= link_to "Go back", user_path(current_user), class: 'btn btn-secondary' %>
  </div>
<% end %>
