<% if @user.avatar.attached? %>
<%= image_tag @user.avatar, class: 'avatar'%>
<% else %>
<%= image_tag "https://scooterbay-public-images.s3.ap-southeast-2.amazonaws.com/default-avatar.jpeg", class: 'avatar'%>
<% end %>

<h1><%=@user.first_name%></h1>
<p class="text-muted">Member since <%=@user.created_at.to_date%></p>

<% if @user.bio? %>
<h2>Bio</h2>
<p><%=@user.bio%></p>
<% end %>

<% if user_signed_in? %>
<h4>Contact</h4>
<p>Email: <%=@user.email%></p>
  <% if @user.mobile? %>
  <p>Mobile: <%=@user.mobile%></p>
  <% end %>
<% end %>

<% if current_user.admin? || current_user.id == @user.id %>
<%= link_to "Edit Profile", edit_user_path(current_user), class: 'btn btn-primary' %>
<%= link_to 'Delete Account', @user, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<% if current_user == @user %>
<h2>My Listings</h1>
<% else %>
<h2>Listings by <%=@user.first_name%></h1>
<% end %>

<div class='container-fluid d-flex flex-wrap'>
<% @user.listings.each do |listing| %>
    <div class="card mx-2 my-2" style="width: 16rem;">
    <% if listing.picture.attached?%>
    <%= image_tag listing.picture %>
    <% else %>
    <%= image_tag "https://scooterbay-public-images.s3.ap-southeast-2.amazonaws.com/default_scooter.jpeg" %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%=listing.title%></h5>
      <p class="card-text"><%=listing.description%></p>
      <% if !listing.sold? %>
      <%= link_to number_to_currency(listing.price), listing, class: "btn btn-primary"%>
      <% else %>
      <%= link_to "Sold", listing, class: "btn btn-primary"%>
      <% end %>
      <% if listing.user == current_user || current_user.admin?%>
      <%= link_to 'Delete Listing', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
    </div>
<% end %>
</div>

<% if current_user == @user %>
  <%= link_to 'New Listing', new_listing_path%>
<% end %>