<% if @user.avatar.attached? %>
<!-- This query retrieves the avatar attribute of the currently referenced instance of the User model (which is an Activerecord attachment) -->
<%= image_tag @user.avatar, class: 'avatar'%>
<% else %>
<%= image_tag "https://scooterbay-public-images.s3.ap-southeast-2.amazonaws.com/default-avatar.jpeg", class: 'avatar'%>
<% end %>

<!-- This query retrieves the first_name attribute of the currently referenced instance of the User model -->
<h1><%=@user.first_name%></h1>
<!-- This query retrieves the created_at attribute of the currently referenced instance of the User model -->
<p class="text-muted">Member since <%=@user.created_at.to_date%></p>

<% if @user.bio? %>
<h2>Bio</h2>
<!-- This query retrieves the bio attribute of the currently referenced instance of the User model -->
<p><%=@user.bio%></p>
<% end %>

<% if user_signed_in? %>
<h4>Contact</h4>
<!-- This query retrieves the email attribute of the currently referenced instance of the User model -->
<p>Email: <%=@user.email%></p>
  <% if @user.mobile? %>
<!-- This query retrieves the mobile attribute of the currently referenced instance of the User model -->
  <p>Mobile: <%=@user.mobile%></p>
  <% end %>
<% end %>

<% if current_user.admin? || current_user.id == @user.id %>
<%= link_to "Edit Profile", edit_user_path(@user), class: 'btn btn-primary' %>
<%= link_to 'Delete Account', @user, class: 'btn btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<% if current_user == @user %>
<h1 class='my-3'>My Listings</h1>
<% else %>
<!-- This query retrieves the first_name attribute of the currently referenced instance of the User model -->
<h1 class='my-3'>Listings by <%=@user.first_name%></h1>
<% end %>

<div class='container-fluid d-flex flex-wrap my-5'>
<% @user.listings.each do |listing| %>
    <div class="card mx-2 my-2" style="width: 16rem;">
    <!-- This query selects the referenced 'picture' instance of the activestorage attachment the current instance of the Listing model has through the has_one_attached relationship. It then retrieves the returned boolean attribute from the activerecord helper method 'attached?'.-->
    <% if listing.picture.attached?%>
    <!-- This query selects the referenced 'picture' instance of the activestorage attachment the current instance of the Listing model has through the has_one_attached relationship.-->
    <%= image_tag listing.picture %>
    <% else %>
    <%= image_tag "https://scooterbay-public-images.s3.ap-southeast-2.amazonaws.com/default_scooter.jpeg" %>
    <% end %>
    <div class="card-body">
    
<!-- This query retrieves the title attribute of the currently referenced instance of the Listing model -->
      <h5 class="card-title"><%=listing.title%></h5>
<!-- This query retrieves the description attribute of the currently referenced instance of the Listing model -->
      <p class="card-text"><%=listing.description%></p>
<!-- This query retrieves the price attribute of the currently referenced instance of the Listing model -->
      <%= link_to number_to_currency(listing.price), listing, class: "btn btn-primary"%>
      <% if listing.user == current_user || current_user.admin?%>
      <%= link_to 'Delete Listing', listing, class: 'btn btn-outline-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
    </div>
<% end %>
</div>

<% if current_user == @user %>
  <%= link_to 'New Listing', new_listing_path, class: 'btn btn-success'%>
<% end %>