<h1>My Sales</h1>

<div class='container-fluid d-flex flex-wrap'>
<% @sold_orders.each do |order| %>
    <div class="card mx-2 my-2" style="width: 16rem;">
    <% if order.listing.picture.attached?%>
    <%= image_tag order.listing.picture %>
    <% else %>
    <%= image_tag "https://scooterbay-public-images.s3.ap-southeast-2.amazonaws.com/default_scooter.jpeg" %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%=order.listing.title%></h5>
      <p class="card-text"><%=order.listing.description%></p>
      <%= link_to "View", order.listing, class: "btn btn-primary"%>
    </div>
    </div>
<% end %>
</div>
