<%= form_with(model: address) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :state %>
    <%= form.select :state, @states.map {|c| [c.name, c.id]} %>
  </div>

  <div class="field">
    <%= form.label :postcode %>
    <%= form.number_field :postcode, minlength: 10, maxlength: 10%>
  </div>

  <div class="field">
    <%= form.label :suburb %>
    <%= form.text_field :suburb %>
  </div>

  <div class="field">
    <%= form.label :street_name %>
    <%= form.text_field :street_name %>
  </div>

  <div class="field">
    <%= form.label :street_number %>
    <%= form.number_field :street_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>