<h1>Offer for <%=@offer.listing.title%></h1>

<%= render 'form', offer: @offer %>
<%= button_to "Cancel Offer", @offer, method: :delete, class: "btn btn-secondary"%>
<p>
  <strong>Model:</strong>
  <%= @offer.listing.title %>
</p>

<% if @offer.listing.picture.attached?%>
<%= image_tag @offer.listing.picture, alt: @offer.listing.title  %>
<% else %>
<%= image_tag "https://scooterbay-public-images.s3.ap-southeast-2.amazonaws.com/default_scooter.jpeg" %>
<% end %>

<p class="mt-2">
  Listing price:
  <strong>
  <%= number_to_currency(@offer.listing.price) %>
  </strong>
</p>

<%= link_to 'Back', listings_path %>

<h2>Merchant Details</h2>
<% if @offer.merchant.avatar.attached? %>
<%= image_tag @offer.merchant.avatar, class: 'avatar'%>
<% else %>
<%= image_tag "https://scooterbay-public-images.s3.ap-southeast-2.amazonaws.com/default-avatar.jpeg", class: 'avatar'%>
<% end %>
<h3><%= @offer.merchant.first_name %> </h3>
<h5>Contact</h5>
<p>Email: <%= @offer.merchant.email %> </p>
<% if @offer.merchant.mobile? %>
<p> Mobile: <%= @offer.merchant.mobile %></p>
<% end %>