<p>
  <strong>Title:</strong>
  <%= @offer.listing.title %>
</p>

<% if @offer.listing.picture.attached?%>
<%= image_tag @offer.listing.picture, alt: @offer.listing.title  %>
<% else %>
<%= image_tag "https://scooterbay-public-images.s3.ap-southeast-2.amazonaws.com/default_scooter.jpeg" %>
<% end %>

<p class="mt-2">
  Price:
  <strong>
  <%= number_to_currency(@offer.listing.price) %>
  </strong>
</p>


<% if current_user && current_user == @offer.listing.user %>
  <%= link_to "View my listings", user_path(current_user), class: 'btn btn-primary mb-2' %>
<% elsif !@offer.listing.sold? %>
<%= button_to "Buy Now", place_order_path, class: 'btn btn-primary mb-2' %>
<%= button_to "Make offer", place_offer_path, class: 'btn btn-primary mb-2' %>
<% else %>
<p><strong>Item Sold</strong></p>
<% end %>


<p>
  <strong>Brand:</strong>
  <%= @offer.listing.brand %>
</p>


<p>
  <strong>Description:</strong>
  <%= @offer.listing.description %>
</p>

<p>
  <strong>In built lighting:</strong>
  <span><%= @offer.listing.in_built_lighting ? "✅" : "❌" %></span>
</p>

<p>
  <strong>Double motor:</strong>
  <span><%= @offer.listing.double_motor ? "✅" : "❌" %></span>
</p>

<p>
  <strong>Pneumatic tires:</strong>
  <span><%= @offer.listing.pneumatic_tires ? "✅" : "❌" %></span>
</p>

<p>
  <strong>Has suspension:</strong>
  <span><%= @offer.listing.has_suspension ? "✅" : "❌" %></span>
</p>

<%= link_to 'Edit', edit_listing_path(@offer.listing) %> |
<%= link_to 'Back', listings_path %>
