<p>
  <strong>Scooter Model:</strong>
  <%= @offer.listing.title %>
</p>

<% if @offer.listing.picture.attached?%>
<%= image_tag @offer.listing.picture, alt: @offer.listing.title  %>
<% else %>
<%= image_tag "https://scooterbay-public-images.s3.ap-southeast-2.amazonaws.com/default_scooter.jpeg" %>
<% end %>

<p class="mt-2">
  Merchant price:
  <strong>
  <%= number_to_currency(@offer.listing.price) %>
  </strong>
</p>

<p class="mt-2">
  Price offered:
  <strong>
  <%= number_to_currency(@offer.price) %>
  </strong>
<% if current_user && current_user == @offer.offerer %>
<%= link_to "Edit Offer", edit_offer_path %>
<% end %>
</p>


<% if current_user && current_user == @offer.merchant %>
  <%= link_to "View my listings", user_path(current_user), class: 'btn btn-primary mb-2' %>
<% elsif current_user && current_user == @offer.offerer %>
<%= link_to "View Listing", @offer.listing, class: 'btn btn-primary mb-2' %>
<% end %>

<% if current_user && current_user == @offer.merchant %>
  <h2>Buyer Details</h2>
  <% if @offer.offerer.avatar.attached? %>
  <%= image_tag @offer.offerer.avatar, class: 'avatar'%>
  <% else %>
  <%= image_tag "https://scooterbay-public-images.s3.ap-southeast-2.amazonaws.com/default-avatar.jpeg", class: 'avatar'%>
  <% end %>
  <h5>Name: <%= @offer.offerer.first_name %> </h5>
  <h5>Email: <%= @offer.offerer.email %> </h5>
<% elsif current_user && current_user == @offer.offerer %>
  <h2>Merchant Details</h2>
  <% if @offer.merchant.avatar.attached? %>
  <%= image_tag @offer.merchant.avatar, class: 'avatar'%>
  <% else %>
  <%= image_tag "https://scooterbay-public-images.s3.ap-southeast-2.amazonaws.com/default-avatar.jpeg", class: 'avatar'%>
  <% end %>
  <h5>Name: <%= @offer.merchant.first_name %> </h5>
  <h5>Email: <%= @offer.merchant.email %> </h5>
<% end %>