<% if current_user == @offer.merchant%>
<h2>Offer received for listing: "<%= @offer.listing.title %>"</h2>
<% else %>
<h2>Your offer for listing: "<%= @offer.listing.title %>"</h2>
<% end %>

<% if @offer.listing.picture.attached?%>
<%= image_tag @offer.listing.picture, alt: @offer.listing.title  %>
<% else %>
<%= image_tag "https://scooterbay-public-images.s3.ap-southeast-2.amazonaws.com/default_scooter.jpeg" %>
<% end %>

<p class="mt-2">
  Listing price:
  <strong>
  <%= number_to_currency(@offer.listing.price) %>
  </strong>
</p>

<p>
  Price offered:
  <strong>
  <%= number_to_currency(@offer.price) %>
  </strong>

<p>
  Message: <%= @offer.message %>
</p>

<p class="text-muted">Offer made <%= time_ago_in_words(@offer.created_at) %> ago</p>

<% if current_user && current_user == @offer.offerer %>
<p><%= link_to "Edit Offer", edit_offer_path, class: 'btn btn-primary'%></p>
<% end %>

<%= link_to "View Listing", @offer.listing, class: 'btn btn-secondary mb-2' %>

<% if current_user && current_user == @offer.merchant %>
  <h2>Buyer Details</h2>
  <% if @offer.offerer.avatar.attached? %>
  <%= image_tag @offer.offerer.avatar, class: 'avatar'%>
  <% else %>
  <%= image_tag "https://scooterbay-public-images.s3.ap-southeast-2.amazonaws.com/default-avatar.jpeg", class: 'avatar'%>
  <% end %>
  <h5>Name: <%= @offer.offerer.first_name %> </h5>
  <h5>Contact:</h5>
  <p>Email: <%= @offer.offerer.email %> </p>
  <p>Mobile: <%= @offer.offerer.mobile %> </p>
<% elsif current_user && current_user == @offer.offerer %>
  <h2>Merchant Details</h2>
  <% if @offer.merchant.avatar.attached? %>
  <%= image_tag @offer.merchant.avatar, class: 'avatar'%>
  <% else %>
  <%= image_tag "https://scooterbay-public-images.s3.ap-southeast-2.amazonaws.com/default-avatar.jpeg", class: 'avatar'%>
  <% end %>
  <h5>Contact:</h5>
  <p>Email: <%= @offer.merchant.email %> </p>
  <p>Mobile: <%= @offer.merchant.mobile %> </p>
<% end %>